/* ! 
    Basic info
*************
Code Formet -> Prettier
Style Plugin -> Bootstrap
font -> Bebas Neue

thames name -> Punguin Fashion
extra add -> Account option, cart option

responsive -> chrome dev tool for screen measurement
*/
:root{
    --lightBg: #FFFBF0;
    --primaryBg: #fff;
    /* ! Background */

    --secondaryTextColor:#fff;
    --primaryTextColor: #000;
    /* ! Font */

    /* --btnBg:linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%); */
    --btnBg:#FA804C;

    /* ! Button BG */
}

body{
    /*Bebas Neue has bug ,  all text automatic uppercase  
    font-family: 'Bebas Neue', sans-serif; */

    font-family: 'Poppins', sans-serif;

    
}
p{
    color: #3E3E3E;
    text-transform: none;
}
.btn__custom{
    padding: 13px 30px;
    /* background-image: var(--btnBg); */
    background-color: var(--btnBg);
    border: none;
    color:var(--secondaryTextColor) ;
    letter-spacing: 1.5px;
    border-radius: 5px;
    box-shadow:  20px 20px 28px #d1cec5,
    -20px -20px 28px #ffffff;
}

.btn__custom> svg{
    margin-right: 5px;
}
/* ! custom buton */
.nav__custom{
    /* height: 90px; */
    background-image: url('../Logo/nav-top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--lightBg);
}
.nav__logo img{
    width: 250px;
}
.nav__user__logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* ! nav end */

.dropdown__custom,.hero__section,.about{
    background-color: var(--lightBg);
}
.hero__content{
    padding: 2em;
}
.hero__content .content__title{
    font-size: 83px;
}
.content__title span{
    color: #FABE4C;
}
.hero__content > .hero__model{
    width: 550px;
}

/* ! hero section end */
.product {
    width: 400px;
    margin: 25px;
    border-radius: 12px !important;
    border: none;
}
.product__image{
    background-color:#F1F1F1 ;
    border-radius: 8px;
    height: 350px;
    max-height: 350px;
    box-shadow: inset 32px 32px 63px #cdcdcd,
    inset -32px -32px 63px #cdcdcd;
    overflow: hidden;
}
.product__image img{
    height: 100%;
    width: 80%;
    display: block;
    margin: auto;
    cursor: pointer;
}
.product__image img:hover{
    transform: scale(1, 0.90);
    transition: transform  linear 500ms;
}
.product__footer{
    padding: 0;
    border: 0;
    background-color: var(--primaryBg);
}

.product__btn{
    padding: 10px 20px;
}

/* ! products end */

.support{
    height: 120px;
    max-width: 450px;
    box-shadow:  10px 10px 20px #d9d9d9,
             -10px -10px 20px #ffffff;
}
.support img{
    width: 80px;
    height: 80px;
}
/* ! support end */

/* ! extra */
.massage{
    position: fixed;
    bottom: 10%;
    right: 10px;
}
.massage .btn__massage{
    padding: 10px;
}
.massage svg{
    font-size: 30px;
}
/* ! massage end */

.news__letter{
    background-color: var(--lightBg);
    /* height: 80px; */
}

.news__input{
    border: none;
    outline: none;
    padding: 10px 45px 10px 20px;
    border-radius: 5px;
    box-shadow: inset 27px 27px 53px #c7c4bb,
    inset -27px -27px 53px #ffffff;
}

/* ! end news letter */
.top__brand {
    overflow: hidden;
}
.top__brand img{
    width: 100%;
    height: 250px;
    transition: transform linear 1s;
}
.top__brand img:hover{
    transform: scale(1, 1.1);
    transition: transform  linear 300ms;
}

/* ! Top Brands End */
.about{
    min-height: 400px;
}
.about__nav a{
    color: #000;
    font-size: 21px;
    margin: 10px 20px !important;
    padding: 15px !important ;
    box-shadow:  0px -1px 5px #95938c, 1px -20px 0px #f9f5ea;
    border-radius: 10px;
}
.notice{
    height: 400px;
}
.notice__img{
    width: 100%;
    height: 100%;
}

/* ! about end */
/* !Signle product view */
#product__single__page{
    width: 100%;
}
/* ! responsive start */

@media only screen and (max-width:1024px){
    .product {
        width: 280px;
    }
    .product__image img {
        width: 100%;
    }
    
    .product__btn {
        padding: 10px 10px;
        letter-spacing: 1px;
    }
    .support__pera,.product__pera{
        font-size: 12px;
    }
    .about__nav a{
        padding: 10px !important;
    }
}
/* ! 1024px responsive ok */
@media only screen and (max-width: 768px){
    .hero__content .content__title {
        font-size: 60px;
    }
    .product {
        width: 320px;
    }
    .supprot__container,.about__container{
        width: 100%;
        padding: 25px 0;
    }
    .supports {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .support_row{
        flex-direction: column-reverse;
    }
    .support {
        flex-direction: column;
        height: auto;
        width: 80%;
        border-radius: 10px !important;
    }
    .support__article{
        text-align: center;
    }
    .about__row{
        flex-direction: column-reverse;
        padding: 25px 0;
    }
    .notice__img{
        height: auto;
        width: auto;
        display: block;
        margin: auto;

    }
}


@media only screen and (max-width: 425px){
    .hero__content .content__title {
        font-size: 40px;
    }
    .info{
        justify-content: center;
    }
    .news__input,.news__btn{
        margin: 10px;
        padding: 10px 10px 10px 20px;
    }
    .news__form{
        flex-direction: column;
    }

}